 
PORT=3000
 
MONGODB_USER=4avramenkoyana_db_user
MONGODB_PASSWORD=ozSo3cm9zn8zNRIH
MONGODB_URL=mongodb+srv://4avramenkoyana_db_user:ozSo3cm9zn8zNRIH@baxiboo.ebhkfq4.mongodb.net/?retryWrites=true&w=majority&appName=Baxiboo
MONGODB_DB=students
JWT_SECRET=hello-world-secret-key

# Brevo SMTP Credentials
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=968967001@smtp-brevo.com
SMTP_PASSWORD=BtrajYpJQqKzHR7m
SMTP_FROM=4avramenko.yana@gmail.com

# App domain for password reset link
APP_DOMAIN=http://localhost:3000

# Cloudinary Credentials
CLOUDINARY_NAME=dxqmbuu62
CLOUDINARY_API_KEY=966571311112159
CLOUDINARY_API_SECRET=wQy0b-dvjl63_t5JiSaqrvFqhnY