 
PORT=3000
 
MONGODB_USER=4avramenkoyana_db_user
MONGODB_PASSWORD=ozSo3cm9zn8zNRIH
MONGODB_URL=mongodb+srv://4avramenkoyana_db_user:ozSo3cm9zn8zNRIH@baxiboo.ebhkfq4.mongodb.net/?retryWrites=true&w=majority&appName=Baxiboo
MONGODB_DB=students
JWT_SECRET=hello-world-secret-key